@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

*{
  font-family: outfit;
}

  @theme {
  --color-light-hover: #fcf4ff;
  --color-dark-hover: #2a004a;
  --color-darktheme: #11001f;
  
  --font-Outfit: "Outfit", "sans-serif";
  --font-Ovo: "Ovo", "serif";
  
  --shadow-black-size: 4px 4px 0 #000;
  --shadow-white-size: 4px 4px 0 #fff;
  

}
